# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\PNY\react19\facebook-clone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
